.spinner {
  margin-top: auto;
}

.empty-list {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.more-button {
  height: 50px;
  margin-bottom: 30px;
  background: #2196F3;
  border-radius: 5px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}