.spinner {
  margin-top: auto;
}

.empty-list {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}
